body {
	min-width: 600px;
	overflow-x: hidden;
}

button {
	background: no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	border: none;
	margin-right: 8px;	
	cursor: pointer;
	padding: 0;
	margin-left: 0;
}

.add {
	background-image: url('add.png');
}

#animeForm .save,
.anime .plusOne {
	background-image: url('plus1.png');
}
.anime .edit {
	background-image: url('edit.png');
}
.anime .remove {
	background-image: url('remove.png');
}
.anime .down {
	background-image: url('down.png');
}
.anime .up {
	background-image: url('up.png');
}

.anime .anidb {
	width: auto;
	font-weight: bold;
}
.anime {
	border-top: 1px dashed #ccc;
	margin-top: 8px;
}
.anime .next .links {
	padding-left: 0;
	display: inline;
}
.anime .next li {
	display: inline;
	margin-left: 8px;
}

.anime .latest button {
	width: auto;
}

#impexp textarea {
	width: 450px;
	height: 200px;
}

.toggleLatest,
.torrentLink {
	color: #00d;
	cursor: pointer;
}

.torrent,
.torrent :visited {
	color: #00d;
}

#animeForm {
	margin-bottom: 8px;
}
#animeForm td:first-child {
	width: 120px;
	text-align: right;
}
#animeForm input,
#animeForm select {
	width: 300px;
}
#animeForm .buttons * {
	float: right;
}