body {
	min-width: 600px;
	overflow-x: hidden;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.collapsed { display: none; }

.title button,
.toolbar button,
#animeForm button {
	background: no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	border: none;
	margin-left: 8px;
}
.title .plusOne,
#animeForm .save { background-image: url('plus1.png'); }
.title .edit { background-image: url('edit.png'); }
.title .up { background-image: url('up.png'); }
.title .down { background-image: url('down.png'); }
.title .remove { background-image: url('remove.png'); }
.toolbar .add,
#animeForm .addFilter {
	background-image: url('add.png');
}
.toolbar .impexp { background-image: url('impexp.png'); }

.title a {
	color: #000;
	font-weight: bold;
}

.toolbar { margin-bottom: 8px; }

#animeForm { margin-bottom: 8px; }
#animeForm form .label {
	width: 80px;
	display: inline-block;
	text-align: right;
}
#animeForm form input { width: 270px; }
#animeForm .buttons {
	width: 356px;
	height: 16px;
}
#animeForm .buttons * { float: right; }
#animeForm .dupe .label, 
#animeForm .dupe button {
	visibility: hidden;
}

.anime.loading { color: #ccc; }
.anime { border-top: 1px dashed #000; }
.anime .next .torrent { margin-left: 8px; }
.anime .next.collapsed,
.anime .latest.collapsed {
	display: block; 
}
.anime .collapsed .torrents { display: none; }
.anime .torrents { padding: 0 0 0 40px;}

#impexp textarea {
	width: 450px;
	height: 200px;
}