body {
	min-width: 600px;
	overflow-x: hidden;
	font: 13px arial;
	line-height: 18px;
}

button {
	background: no-repeat center center;
	width: 16px;
	height: 16px;
	padding: 0;
	border: none;
	margin-right: 16px;	
	cursor: pointer;
	padding: 0;
	margin-left: 0;
}

.add {
	background-image: url('add.png');
}

#animeForm .save,
.anime .title:hover .plusOne {
	background-image: url('plus1.png');
}
.anime .title:hover .edit {
	background-image: url('edit.png');
}
.anime .title:hover .remove {
	background-image: url('remove.png');
}

.anime .anidb {
	width: auto;
	font-weight: bold;
}
.anime {
	padding-top: 4px;
	margin-top: 8px;
}
.anime .next .links {
	padding-left: 0;
	display: inline;
}
.anime .next li {
	display: inline;
	margin-left: 8px;
}

.anime .title {
	background-color: #eee;
	padding: 2px 0px 2px 2px;
}
.anime .title a {
	width: 150px;
	text-align: left;
	display: inline-block;
	color: #000;
	font-style: normal;
	text-decoration: none;
	cursor: move;
}

.anime .latest button {
	width: auto;
}

#impexp textarea {
	width: 450px;
	height: 200px;
}

.toggleLatest,
.torrentLink {
	color: #00d;
	cursor: pointer;
}

.torrent,
.torrent :visited {
	color: #00d;
}

#animeForm {
	margin-bottom: 8px;
}
#animeForm td:first-child {
	width: 120px;
	text-align: right;
}
#animeForm input,
#animeForm select {
	width: 300px;
}
#animeForm .buttons * {
	float: right;
}

.ng-dropBefore {
	border-top: 1px solid #0f0;
}